.message-windows-container {
    position: fixed;
    right: 20px;
    bottom: 85px;
    display: flex;
    gap: 20px;
    flex-flow: row;
    justify-content: flex-end;
    height: 300px;
    width: 700px;
    z-index: 1001;
}

.display-none {
    display: none;
}