.timeline-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px !important;
  }
  
  .timeline-comment-box .user {
    float: left;
  }
  
  .timeline-comment-box .user img {
    max-width: 100%;
    max-height: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .timeline-comment-box .user + .input {
    margin-left: 44px;
  }
  
  .lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  .text-danger,
  .text-red {
    color: #ff5b57 !important;
  }
  
  .input-group {
    margin: 0 auto;
  }
  .form-control .rounder-corner {
    margin: 0 auto;
    height: 30px;
  }