.searchCard {
	box-shadow: 0.1em 0.5em 0.3em 0.5em rgba(0,0,0,0.5);
    margin-top: 50px;
}

.searchBody {
   margin: 20px;
}

.buttonLocate {
    width: 200px;
    margin-top: 50px;
    margin-right: 10px;
    float: right;
}

.styleContent {
    text-align: center;
}

.props-style {
    margin-top: 50px !important;
}