.message-box-container {
    height: 430px;
    width: 300px;
    padding: 2px;
    border-radius: 6px;
    background: white;
}

.message-box-title {
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    background: #eee;
    
}

.x {
    position: relative;
    float: right;
	color: rgb(73, 72, 72);
    top: -1px;
    right: -170px;
    cursor: pointer;
  }

.message-box-image {
    text-align: left;
    padding: 10px;
    height: 50px;
    width: 50px;
}

.message-box-inner-container {
    padding: 5px 5px 0 5px;
    max-height: 300px;
    height: 300px;
    overflow-y: auto;
    
}

.input-container {
    border-top: #ccc 1px solid;
    width: 100%;
}

.input-container > input {
    border: 0;
    width: 100%;
    padding: 5px;
}

.input-container > input:focus {
    outline: none;
}
