.iconStyle2 {
  color: #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: -30px;
  margin-top: 100px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.name {
  color: #ccc;
  font-size: 22px;
  margin-top: -40px;
  margin-left: 190px;
}

.buttons {
  color: #ccc;
  margin-top: -40px;
  margin-left: 82%;
}

.button-style {
  background-color: rgba(40, 40, 40, 0.8);
  border-color: #ccc;
  margin-right: 10px;
}

.mood {
  color: #ccc;
  margin-left: 20px;
  margin-top: 5px;
}

.usersCard {
  margin-top: 60px;
  overflow-y: scroll;
  height: 800px;
}

.usersList {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 16px;
  cursor: pointer;
}

.profile-container {
  margin-top: 20px;
}

.posts-container {
  margin-top: 40px;
}

.no-posts {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-top: 300px;
}
