.be-comment-block {
    border: 1px solid #edeff2;
    border-radius: 2px;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.2);
  }
  
  #dark .be-comment-block {
    background-color: #242a30;
    color: #b0b3b6;
    box-shadow: 0px 0px 16px -3px rgba(255, 255, 255, 0.3);
    border: 0.5px solid #7a8192;
  }
  
  .be-comment .be-comment-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
  }
  
  .be-comment-author {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
  }
  
  .be-comment-author h3 {
    margin-left: 4%;
    font-size: 1rem;
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .be-ava-comment {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .be-comment-time {
    font-size: 0.9rem;
    color: #a0a1a7;
  }
  
  .be-comment-time .icon {
    margin-bottom: 3px;
    margin-left: 7px;
    transition: all 0.3s ease-out;
  }
  
  .be-comment-time .icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #2d353c;
  }
  
  #dark .be-comment-time .icon:hover {
    color: #b0b3b6;
  }
  .be-comment-text {
    font-size: 0.9rem;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 10px 15px 15px 10px;
    border-radius: 5px;
    word-wrap: break-word;
  }
  
  #dark .be-comment-text {
    background-color: #b0b3b6;
    border-color: #a0a1a7;
    color: #242a30;
  }