.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  .avatarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .friends-dropdown > .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    left: -30px;
    top: 55px;    
  }

  .dot {
    vertical-align: top;
  }

  .brand {
    margin-left: 20px;
  }

  .search {
    margin-right: 8px;
  }

  .user-avatar {
    margin-right: 10px;
  }

  .sign-up-link {
    margin-right: 20px;
  }