.suggestion {
    cursor: pointer;
}

.uploadForm {
    border-style: dashed;
    color: darkgray;
    margin: 8px;
    min-height: 130px;
    cursor: pointer;
}

.iconSize {
    margin: 5px;
    height: 50px;
    width: 50px;
}

.guide {
    margin-bottom: 10px;
    text-align: center;
    color: grey;
}

.note {
    margin-left: 10px;
    color: grey;
}

.addition {
    margin: 10px;
}