ol {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

body {
  background: #000;
}

.date {
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 18%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 5;
  color: #ccc;
}

.time {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 5;
  color: #ccc;
}

.date h2 {
  cursor: pointer;
  transition: 0.5s;
  margin: 0 5px;
  padding: 35px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0.1em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  font-size: 18px;
}
.date h2:hover {
  transform: translateY(-10px);
}
.date h1:hover {
  transform: translateY(-10px);
}

.time h2 {
  cursor: pointer;
  transition: 0.5s;
  margin: 0 5px;
  padding: 35px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0.1em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  font-size: 18px;
}
.time h2:hover {
  transform: translateY(-10px);
}
.time h1:hover {
  transform: translateY(-10px);
}

.containerImg {
  position: relative;
  max-width: 1000px;
  max-height: 400px;
}

.img2 {
  position: absolute;
  right: 52%;
  top: 350px;
  width: 250px;
  cursor: pointer;
}

.description-card {
  background: rgba(40, 40, 40, 0.8) !important;
  box-shadow: 0.1em 0.5em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardContain {
  margin: 10px;
  color: #ccc;
  font-size: 18px;
}

.icon-style {
  color: #ccc;
}

.descriptionContain {
  margin: 30px;
  color: #ccc;
  font-size: 18px;
}

.followers {
  margin-top: -13px;
  text-align: right;
  margin-right: 30px;
  color: rgba(228, 195, 80);
  font-size: 90%;
}

.banner-style {
  text-align: right;
}

.event-title {
  color: #f8f9f9;
  font-size: 30px;
  margin: 100px;
  text-align: center;
}

.content-style {
  margin-top: 40px !important;
}

.event-author {
  font-weight: bold;
  cursor: pointer;
}
