.p-10 {
    padding: 10px !important;
  }
  .media.media-xs .media-object {
    width: 32px;
  }
  .m-b-2 {
    margin-bottom: 2px !important;
  }
  
  select.form-control:not([size]):not([multiple]) {
    height: 34px;
  }
  .form-control.input-inline {
    display: inline;
    width: auto;
    padding: 0 7px;
  }
  
  .timeline {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 5px;
    bottom: 5px;
    width: 5px;
    /* background: #2d353c; */
    background-color: #d9e0e7;
    left: 11%;
    margin-left: -2.5px;
  }
  
  .timeline > li {
    position: relative;
    min-height: 50px;
    padding: 20px 0;
  }
  
  .timeline .timeline-time {
    position: absolute;
    left: -38%;
    width: 18%;
    text-align: right;
    top: 25px;
  }
  
  .timeline .timeline-time .date,
  .timeline .timeline-time .time {
    display: block;
    font-weight: 600;
  }
  
  .timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px;
  }
  
  .timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #d9e0e7;
    top: 27px;
  }
  
  .timeline .timeline-icon {
    left: 6%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px;
  }
  
  .timeline .timeline-icon span {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #242a30;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #d9e0e7;
    transition: border-color 0.2s linear;
  }
  
  .timeline .timeline-body {
    margin-left: 15%;
    background: #fff;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px;
  }
  
  #dark .timeline .timeline-body {
    background-color: #242a30;
  }
  
  .timeline .timeline-body .not-commented {
    margin: 10px 0;
    padding: 10px 15px;
    height: 50px;
    color: #7a8192;
    border: 1px solid #edeff2;
    border-radius: calc(0.25rem - 1px);
  }
  
  #dark .timeline .timeline-body .not-commented {
    color: #d9e0e7;
    border: 0.5px solid #b0b3b6;
  }
  
  .timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 20px;
  }
  
  #dark .timeline .timeline-body:before {
    border-right-color: #242a30;
  }
  
  .timeline .timeline-body > div + div {
    margin-top: 15px;
  }
  
  .timeline .timeline-body > div + div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px;
  }
  
  .timeline-header {
    padding-bottom: 10px;
    height: 60px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  
  .timeline-header .user-info {
    display: flex;
    align-items: center;
  }
  
  .timeline-header .userimage {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0;
  }
  
  .timeline-header .userimage img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0;
  }
  
  .timeline-header .usernName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .timeline-header .userName,
  .timeline-header .userName a {
    color: #2d353c;
    cursor: pointer;
    font-weight: bold;
  }
  
  .timeline-post-actions .edit,
  .timeline-post-actions .delete {
    margin: 0 8px;
    font-size: 18px;
  }
  
  .timeline-post-actions .edit:hover,
  .timeline-post-actions .delete:hover {
    cursor: pointer;
    color: #2d353c;
    transform: scale(1.2);
  }
  
  .timeline img {
    max-width: 100%;
    display: block;
  }
  
  .timeline-content {
    letter-spacing: 0.25px;
    line-height: 18px;
    font-size: 1rem;
    width: 100%;
  }
  
  .timeline-content-text {
    padding: 10px 0;
    word-wrap: break-word;
    line-height: 1.2;
  }
  
  #dark .timeline-content-text {
    color: #d9e0e7;
  }
  
  .timeline-likes .stats-text {
    font-size: 1rem;
    font-weight: 200;
  }
  
  .timeline-likes .stats-text:hover {
    cursor: pointer;
    color: #2d353c;
  }
  .timeline-content:after,
  .timeline-content:before {
    content: '';
    display: table;
    clear: both;
  }
  
  .timeline-title {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0 1.5rem;
  }
  
  .timeline-footer {
    background: #fff;
    border-top: 1px solid #e2e7ec;
    padding: 15px 0;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    caret-color: transparent;
  }
  
  .timeline-footer a:not(.btn) {
    color: #575d63;
  }
  
  .timeline-footer a:not(.btn):focus,
  .timeline-footer a:not(.btn):hover {
    color: #2d353c;
  }
  .timeline-footer .like-not-liked,
  .timeline-footer .tags {
    font-size: 1.3rem;
    color: #575d63;
    transition: all 0.3s ease-out;
  }
  
  .timeline-footer .like-liked {
    font-size: 1.3rem;
    transform: scale(1.2);
    color: rgba(228,195,80);;
    transition: all 0.3s ease-out;
  }
  
  .timeline-footer .like-liked:hover {
    cursor: pointer;
    transform: scale(1);
  }
  
  .timeline-footer .like-not-liked:hover,
  .timeline-footer .tags:hover {
    cursor: pointer;
    color: #2d353c;
    transform: scale(1.1);
  }
 
  .timeline-likes-container {
    display: flex;
    width: 50%;
    align-items: center;
  }
  
  .timeline-likes.container .like-icon {
    width: 50%;
  }
  
  .timeline-likes-container .stats {
    width: 100px;
  }
  
  .timeline-likes {
    color: #6d767f;
    font-weight: 600;
    font-size: 12px;
    caret-color: transparent;
  }
  
  .timeline-likes .stats {
    height: 100%;
    padding-top: 10px;
  }
  .timeline-likes .stats-total {
    height: 100%;
    line-height: 20px;
    margin-left: 5%;
    font-size: 0.8rem;
  }
  
  .timeline-likes .stats-text {
    line-height: 20px;
  }
  
  .timeline-likes .stats-text + .stats-text {
    margin-left: 15px;
  }
  
  .timeline-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 0;
  }
  
  .timeline-comment-box .user {
    float: left;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .timeline-comment-box .user img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .timeline-comment-box .user + .input {
    margin-left: 44px;
  }
  
  .lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  .text-danger,
  .text-red {
    color: #ff5b57 !important;
  }
  
  .input-group {
    margin: 0 auto;
  }
  .form-control .rounder-corner {
    margin: 0 auto;
    height: 30px;
  }
  @media all and (max-width: 800px) {
    .timeline-header .timeline-title {
      flex: 1;
    }
  }
  @media (max-width: 674px) {
    .timeline-header {
      display: block;
      text-align: center;
    }
  
    .timeline-header .timeline-title {
      margin-top: 5px;
      text-align: center;
      font-size: 15px;
    }
  }

  .eventBanner {
    margin-top: 20px;
    cursor: pointer;
  }