.sent, .received {
    display: flex;
    flex-flow: column;
    margin-bottom:10px;
}

.sent {
    align-items: flex-end;
}

.sent > p {
    background-color: rgb(0, 132, 255);
    color: white;
    text-align: end;
}
.sent > p,
.received > p {
    padding: 10px;
    width: 70%;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: 450;
}
.received {
    align-items: flex-start;
}
.received > p {
    background-color: #E4E6EB;
    color: black;
}
.time-size{
    font-size:10px;
}